body {
    background-color: #FFFFE0;
    font-size: 13px;
    padding: 15px;
}

h1, h2 {
    text-align: center;
    color: #C00;
    font-size: 16px;
}

img {
    display: block;
    margin: 0 auto;
}

hr {
    margin-bottom: 30px;
}
